body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(5px); 
    z-index: -1;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 0; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 100px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.2);
}

.nav-links {
    display: flex;
    gap: 20px;
}

nav button {
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav button:hover {
    background-color: gray;
}

.despremine {
    width: 90%;
    max-width: 1140px;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-top: 20px; /* Adjust margin as needed */
    flex-wrap: nowrap;
    justify-content: space-between;
}

.pfp {
    width: 30vw;
    max-width: 300px;
    margin-right: 20px;
}

.despremine figcaption {
    flex-grow: 1;
}

.despremine figcaption p {
    color: #ffffff;
    opacity: .8;
    font-weight: 100;
}

.despremine figcaption h1 {
    color: greenyellow;
    margin-top: 10px;
    margin-bottom: -5px;
    font-family: 'Baloo Paaji 2', sans-serif;
    font-size: 29px;
    text-shadow: green 2px 2px 10px;
}

.despremine span {
    font-weight: 400;
    color: greenyellow;
    opacity: 1;
}

.article-percent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.despremine-left, .despremine-right {
    width: 45%;
    margin: 10px 0;
}

.progress {
    background-color: #e9ecef;
    height: 20px;
    border-radius: 40px;
    font-size: 15px;
    margin-bottom: 10px;
    width: 100%;
}

.progress-bar {
    background-color: greenyellow;
    height: 20px;
    border-radius: 40px;
    text-align: center;
}

.new-project {
    margin-top: 20px;
    background: linear-gradient(to bottom, greenyellow, green);
    display: flex;
    padding: 20px;
    justify-content: space-around;
    color: white;
    align-items: center;
}

.new-project-left {
    font-family: 'Baloo Paaji 2', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.new-project-left span {
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.new-project-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.verifica {
    background-color: white;
    color: greenyellow;
    border: none;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(63, 195, 128);
    position: absolute;
}

.verifica:hover {
    color: greenyellow;
    font-size: 30px;
}

@media (max-width: 780px) {
    .figure-1-title {
        font-size: 54.6px;
    }
    .figure-1-subtitle {
        font-size: 39px;
    }
    .figure-1-navigation {
        font-size: 11.7px;
    }
    .despremine {
        flex-direction: column;
        align-items: center;
        margin-top: 20px; /* Adjust margin as needed */
    }
    .article-percent {
        flex-direction: column;
        align-items: center;
    }
    .despremine-left, .despremine-right {
        width: 80%;
        margin: 0;
    }
    .pfp {
        width: 80%;
        max-width: 200px;
        margin-bottom: 20px;
    }
    .new-project {
        justify-content: space-between;
    }
    .verifica {
        margin-right: 125px;
        font-size: 20px;
    }
    .verifica:hover {
        color: green;
        font-size: 25px;
    }
    .progress {
        width: 100%;
    }
}

@media (min-width: 1080px) {
    .figure-1-title {
        font-size: 75.6px;
    }
    .figure-1-subtitle {
        font-size: 54px;
    }
    .figure-1-navigation {
        font-size: 16.2px;
    }
    .despremine {
        font-size: 18.36px;
    }
    .despremine figcaption h1 {
        font-size: 36px;
    }
}

#later-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.center-text {
    font-size: 3em;
    margin: 50px 0;
    color: white;
    text-shadow: 2px 2px 10px black;
}

.images-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.images-container img {
    width: 45%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 780px) {
    .images-container {
        flex-direction: column;
        align-items: center;
    }

    .images-container img {
        width: 80%;
        margin-bottom: 20px;
    }
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: white;
    font-size: 0.9rem;
}
.button-link {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: gray;
}
